// nav {
//     display: flex;
//     background-color: grey;
//   }
//   nav a {
//     text-decoration: none;
//     padding: 15px 20px;
//     cursor: pointer;
//   }

.navbar
{
  background-image: linear-gradient(to bottom right, #00012c, skyblue);

}

.navbar-brand
{
    color:white;
}

.navbar-brand:hover
{
    color:white;
}