<nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand">Shout Box</a>
    <div>
      <!-- <a  *ngIf="!isLoggedIn()" class="navbar-brand" routerLink="login">Login</a>
        <a  *ngIf="!isLoggedIn()" class="navbar-brand" routerLink="register">Register</a> -->
      <a *ngIf="isLoggedIn()" class="navbar-brand" routerLink="home"
        ><span class="fa fa-home"> </span> Home
      </a>
      <a *ngIf="isLoggedIn()" class="navbar-brand" routerLink="friends"
        ><span class="fa fa-users"></span> Friends</a
      >

      <!-- <a *ngIf="isLoggedIn()" class="navbar-brand" routerLink="post"
        ><span class="fa fa-rsm"></span>Post</a
      > -->

      <!-- <a class="navbar-brand" routerLink="profile/{{ user_id }}"
          >Your Profile</a
        > -->
      <a *ngIf="isLoggedIn()" class="navbar-brand" (click)="yourProfile()"
        ><span class="fa fa-user-circle"></span> {{ session_user_name }}</a
      >
      <a *ngIf="isLoggedIn()" class="navbar-brand" (click)="logout()"
        ><span class="fa fa-sign-out"></span> Log Out</a
      >
    </div>
    <!-- {{ user_id }} -->
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <app-welcomepage></app-welcomepage> -->
