<div>
    <!-- <p>header works!</p>
    <ul>
        <li><a href="student.html">Student</a></li>
        <li><a href="teacher.html">Teacher</a></li>
        <li><a href="admin.html">Admin</a></li>
    </ul> -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">A N G U L A R</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">FEATURES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DOCS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">RESOURCES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">EVENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">BLOG</a>
            </li>
          </ul>
        </div>
      </nav>
</div>