<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
background-color: black;
        }
    </style>
</head>
<body>
    
</body>
</html> -->

<!-- FOR CREATE -->

<!-- <form action="{{ url('/store') }}" method="post">
    @csrf
    <div class="form-group">
        <label>CNE</label>
        <input  name="cne" type="text" class="form-control" placeholder="Enter cne">
    </div>
    <div class="form-group">
        <label>First Name</label>
        <input  name="firstName" type="text" class="form-control" placeholder="Enter the first Name">
    </div>
    <div class="form-group">
        <label>Second Name</label>
        <input  name="lastName" type="text" class="form-control" placeholder="Enter the Last Name">
    </div>
    <div class="form-group">
        <label>Age</label>
        <input  name="age" type="text" class="form-control" placeholder="Enter the Age">
    </div>
    <div class="form-group">
        <label>Speciality</label>
        <input  name="speciality" type="text" class="form-control" placeholder="Enter the Speciality">
    </div>
        <input type="submit" class="btn btn-info" value="Save">
        <input type="reset" class="btn btn-warning" value="Reset">                    
</form> -->